body {
    background-image: url('Fondos/Tamagochi-Interfaz.jpg');
    background-size: cover; /* La imagen cubre toda la pantalla */
    background-position: center; /* La imagen está centrada */
    background-repeat: no-repeat; /* La imagen no se repite */
    background-attachment: fixed; /* La imagen se fija en la pantalla al hacer scroll */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#tamagotchi img {
    border: 2px solid #009688;
    border-radius: 10px;
}

.buttons {
    margin-top: 10px;
}

button {
    background-color: #009688;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00796b;
}
